@{
    Layout = null;
}

<div style="margin: auto; text-align: center">
    <h1 style="color: red">
        Access Denied
    </h1>

    @Html.RouteLink("Login", new { controller = "Account", action = "Index" })
</div>
