@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AzureMongoDbOnion03.ViewModels.UsersViewModel

<table>
    <tr>
        <h2>
            Users:
        </h2>

    </tr>
    <tr>
        <td>
            @Html.Partial("UsersList", Model.UsersPlusDebtorName)
        </td>
    </tr>

    <tr>
        <td>
            @Html.Partial("NewUser", Model)
        </td>
    </tr>

</table>