@model IEnumerable<AzureMongoDbOnion03.ViewModels.UserPlusDebtorName>

@{
    ViewData["Title"] = "User Page";
}

<div style="margin: 30px">
    <table>
        @{
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td style="padding: 3px">@Html.ActionLink("Delete", "DeleteUser", user.User)</td>
                </tr>
            }
        }
    </table>
</div>
