@using AzureMongoDbOnion03.Domain
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<table>
    <tr>
        <h2>
            @Localizer["Title"]
        </h2>

    </tr>
    <tr>
        <td>
            @Html.Partial("DebtorsList")
        </td>
    </tr>

    <tr>
        <td>
            @Html.Partial("NewDebtor", new Debtor())
        </td>
    </tr>

</table>
